

.editor_con .title{
  height: 50px;
  text-align: center;
  /* border: 1px solid black; */
}
.editor_con span{
  display: inline-block; 
  font-size: 22px;
}
.editor_con input{
  width: 60%;
  height: 35px;
  border: 2px solid #3690cf;
  /* border-radius: 10px; */
}
.editor_con .warpper{
  border: 3px solid #3690cf;
  box-shadow: 5px 5px 5px 5px #ccc;
  -webkit-box-shadow: 5px 5px 5px 5px #ccc;
  -moz-box-shadow: 5px 5px 5px 5px #ccc;
}